{"threads_per_job": 1, "time_limit": 60, "mem_limit": 1.0, "qos": "normal", "threshold": 0.5, "apply_presmooth_2d": true, "apply_dt_2d": true, "pixel_pitch": null, "apply_ws_2d": true, "sigma_seeds": 2.0, "size_filter": 25, "sigma_weights": 0, "halo": [0, 0, 0], "two_pass": false, "channel_begin": 1, "channel_end": 3}